{% extends 'website/layout.html' %}
{% block title %}الموقع الرسمي للباحث وليد موحن | خدمة استعارة كتاب{% endblock %}

{% block body %}

<div class="container">
    <div class="row d-flex my-2 bg-white pb-2 pb-4 banner-container-borrow  m-1 my-5">
        <div class="col-12 d-flex flex-column ">
            <div class="col p-2">
                <h1 class="borrow-book-banner-title text-center mb-lg-2"> مرحبا بكم في  خدمة استعارة كتاب</h1>
                <p class="borrow-book-banner-text-2">
                    خدمة "استعارة كتاب" على منصة وليد موحن هي خدمة مبتكرة تهدف إلى تعزيز ثقافة القراءة وتبادل
                    المعرفة بين القراء والطلبة. تعتمد هذه الخدمة على مبدأ المشاركة بين الأعضاء، حيث يمكن لكل
                    مستخدم إضافة كتبه إلى المكتبة الافتراضية لتكون متاحة للاستعارة من قِبل الآخرين. وبالمقابل،
                    يمكنه أيضًا استعراض قائمة الكتب المتوفرة واستعارة ما يحتاجه بسهولة.
                    نسعى من خلال هذه الخدمة إلى بناء مجتمع قارئ ومشارك يساهم في نشر الثقافة والمعرفة بطريقة
                    ميسرة وفعالة.
                    انضم الآن وكن جزءًا من هذه التجربة الفريدة!
                </p>
                <p class="borrow-book-banner-text-2 text-light fw-bold">
                    تثق إدارة المنصة في مستخدميها الأعزاء وتقدر التزامهم بالقيم الأخلاقية في عمليات التواصل والمشاركة. نحثكم على إعادة الكتب المستعارة في الوقت المحدد والحفاظ عليها بحالتها الأصلية. وفي حال وجود أي تجاوزات أو عدم التزام ببنود الاتفاق، نرجو منكم التبليغ فورًا حتى نتمكن من اتخاذ الإجراءات المناسبة لضمان بيئة تعاونية تحترم الجميع. شكراً لتعاونكم!
                </p>
                <p class="borrow-book-banner-text-2 text-light fw-light">
                      إذا كانت هذه المرة الأولى لكم على المنصة و أردتم الإطلاع أكثر على كيفية عمل هذه الخدمة و اتفاقية الاستخدام فيمكم الضغط على زر"الاطلاع على المزيد"
                </p>
                <a href="#" class="mb-3">
                            
                    <button class="btn btn-outline-light borrow-book-banner-btn w-100 w-lg-50 fs-6 mb-3"> الإطلاع على المزيد </button>
                </a>
                <a href="#">
                            
                    <button class="btn btn-light borrow-book-banner-btn w-100 fs-6">
                         
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg>
                          الولوج إلى المكتبة الافتراضية
                    </button>
                </a>
                
            </div>
        </div>
    </div>
 
</div>

{% endblock %}