{% extends 'website/layout.html' %}
{% block title %}الموقع الرسمي للباحث وليد موحن | الرسائل{% endblock %}

{% block body %}

<div class="container messages-container">
    <div class="row w-100">
        <div class="col-12 messages-col rounded rounded-3 w-100 pt-3">
            <span class="messages-col-info">رسالة من : {{message.author}}</span>
            <span class="messages-col-info">الإيميل أو الرقم : {{message.email_or_phone}}</span>
            <span class="messages-col-info"> في : {{message.created_at}} </span>
            <hr>
            <span class="message-content mb-2"> {{message.content}} </span>
        </div>
    </div>
</div>

{% endblock %}