{% extends 'website/layout.html' %}
{% block title %}الموقع الرسمي للباحث وليد موحن | تسجيل الدخول{% endblock %}

{% block body %}

<div class="container">
    <div class="row my-2">
        <div class="col form-col rounded rounded-3 form-input-txt">
            <form action="{% url 'editprofile' %}" method="POST">
                <h1 class="form-title m-auto">ملفي الشخصي</h1>
                {% csrf_token %}
                <div class="mb-1">
                    <label for="username" class="form-label form-input-txt"> {{profil_form.full_name.label}} </label>
                    {{ profil_form.full_name }}
                    <div id="fullname-help" class="form-text"> الإسم الكامل لا يظهر للمستخدمين إلا في حالة التواصل المباشر في عمليات تبادل الكتب </div>
                    <div class="form-text text-danger">{{messagefull_name}}</div>
                </div>
                <div class="mb-1">
                    <label for="username" class="form-label"> {{profil_form.phone.label}} </label>
                    {{ profil_form.phone }}
                    <div id="phone-help" class="form-text"> يجب أن يكون رقم الهاتف صحيحا ليتم تفعيل حسابكم عبر رسالة قصير برمز التفعيل </div>
                    <div class="form-text text-danger">{{messagephone}}</div>
                </div>
                <div class="mb-1">
                    <label for="username" class="form-label"> {{profil_form.pict.label}} </label>
                    {{ profil_form.pict }}
                    <div id="pict-help" class="form-text"> صورة أقل من 10 ميغا بيت تظهر في ملفكم الشخصي (بروفايل) </div>
                    <div class="form-text text-danger">{{messagepict}}</div>
                </div>
                <div class="mb-1">
                    <label for="username" class="form-label"> {{profil_form.city.label}} </label>
                    {{ profil_form.city }}
                    <div id="city-help" class="form-text"> المدينة المستقر بها حاليا لتسهيل عملية البحث في الكتب المعروضة حسب المدينة</div>
                    <div class="form-text text-danger">{{messagecity}}</div>
                </div>
                <div class="mb-1">
                    <label for="username" class="form-label"> {{profil_form.profession.label}} </label>
                    {{ profil_form.profession }}
                    <div id="profession-help" class="form-text"> تساعدنا معرفة وضعيتكم (تلميذ/طالب) في توفير خدمات جديدة تلائمكم </div>
                    <div class="form-text text-danger">{{messageprofession}}</div>
                </div>
                <div class="mb-1">
                    <label for="username" class="form-label"> {{profil_form.university.label}} </label>
                    {{ profil_form.university }}
                    <div id="university-help" class="form-text"> تساعدنا معرفة جامعتكم/كليتكم في توفير خدمات جديدة تلائمكم </div>
                    <div class="form-text text-danger">{{messageuniversity}}</div>
                </div>
                <div class="mb-5">
                    <button type="submit" class="btn btn-primary w-100 m-auto">تفعيل حسابي</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}